---
import '../styles/global.scss';

// Base domain URL without trailing slash
const domainBaseURL = 'https://aigle-levant.github.io/dev-portfolio/';

// Website publisher & region
const authorPublisher   = 'Prajanya Subramanian.';
const geoRegion         = 'IN-TN';

// SEO title, description and keywords
const seoTitle          = 'aigle | Prajanya Subramanian. | Web Developer';
const seoDescription    = "Hi there! I'm a 2nd year student pursuing a Bachelors in Computer Applications. I'm also a web developer with knowledge in front-end tools.";
const seoKeywords       = 'Web Developer, Prajanya Subramanian, Chennai, Front-end, React, Astro, Webflow';

---

<!doctype html>
<html lang="en" class="bg-black text-gray-100 font-mono">

    <head>

        <!-- Crawler & Robots -->
        <meta name="robots" content="index, follow, noodp, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
        <meta name="revisit-after" content="7 days" />
        <meta name="revisit" content="after 7 days" />

        <!-- Start: Meta-Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="content-type"         content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma"               content="cache" />
        <meta http-equiv="X-UA-Compatible"      content="IE=edge">
        <meta name="viewport"                   content="width=device-width, initial-scale=1">
        <!-- End: Meta-Tags -->

        <!-- Start: Theming and Favicons -->
        <link rel="icon" type="image/svg+xml" crossorigin="anonymous" href="/img/logo.svg" />
        <!-- <link rel="alternate icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="alternate icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest"> -->
        <!-- End: Theming and Favicons -->

        <!-- Start: Misc meta tags -->
        <link rel="sitemap"                     href="/sitemap-index.xml" />
        <link rel="canonical"                   href={Astro.url} />

        <meta name="geo.region"                 content={geoRegion}>
        <meta name="author"                     content={authorPublisher}>
        <meta name="publisher"                  content={authorPublisher}>
        <meta name="copyright"                  content={authorPublisher}>
        <!-- End: Misc meta tags -->

        <!-- Title & Description -->
        <title>{seoTitle}</title>
        <meta name="description" content={seoDescription}>
        <meta name="abstract"    content={seoDescription}>
        <meta name="keywords"    content={seoKeywords}>

    </head>

    <body class="min-h-[100vh] flex items-center justify-center p-4">
        <slot />
    </body>

</html>